.competences {
    background-color: #232166;
    color: white;
    /* padding: 20px; */
}

.competences-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 20px;
}

.competences-content h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
    padding-left: 20px;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.competences-intro {
    text-align: center;
    color: #e0e0e0;
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.competences-cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.competences-card {
    background-color: #3a3a8a;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 600px;
    display: flex; /* Utiliser Flexbox pour centrer le contenu */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.competences-card h2 {
    font-size: 1.5em;
}

.competences-card p {
    font-size: 1em;
}

.competences-details {
    display: flex; /* Utiliser Flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between; /* Espace entre les éléments */
    width: 100%; /* Assure que le conteneur prend toute la largeur */
    flex-direction: column;
    gap: 20px;
}

.competences-img, .competences-description, .competences-ugly {
    margin: 20px; /* Espace entre les éléments */
}



.competences-details img {
    height: 100%; /* Ajuste la hauteur de l'image pour qu'elle prenne toute la hauteur disponible */
    max-height: 100%; /* Assure que l'image ne dépasse pas la hauteur de son conteneur */
}

.competences-description-text-p{ 
    margin: 0%;
    text-align: left;
}

.competences-ugly {
    display: flex; /* Utiliser Flexbox pour centrer Ugly */
    align-items: center; /* Centre verticalement */
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
    
    
  }

    .competences-img {
    color: white;
}

@media (min-width: 768px) {
    .competences-content {
        padding: 40px 20px;
    }

    .competences-card {
        margin: 20px;
    }

    .competences-details {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .competences-card {
        width: calc(50% - 40px);
    }
}

.projects, .experiences, .contact, .competences {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects-content, .experiences-content, .contact-content, .competences-content {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

